@import "components/color";
@import "components/utilities";
@import "components/hero";
@import "components/post";
@import "components/desktop-nav";
@import "components/responsive";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5% /* 10px */;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}
